.loading {
    border: 0.6rem solid var(--primary); /* Light grey */
    border-top: 0.6rem solid var(--secondary); /* Blue */
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }