ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding-left: 0.5rem;
}

ul li {
    padding-bottom: 0.5rem;
}

ul li:hover{
    color: var(--primaryLight);
    cursor: pointer;
    transition: 0.2s
}

img{
    display: none
}

@media (max-width: 800px){

    ul{
        text-align: center;
    }
    img{
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin: 0.25rem;
    }

    ul li:active {
        background-color: pink;
        transition: 0.3s;
      }

}