<div>
    <span>
        <img (click)='showMenu()'  src='../../assets/icons/menu.svg' alt='Menu'>
    </span>
    <ul *ngIf='menuActive'>
        <li routerLink='' (click)='showMenu()'>Home</li>
        <li routerLink='teams' (click)='showMenu()'>Teams</li>
        <li routerLink='players' [queryParams]="{offset: 0}" (click)='showMenu()'>Players</li>
        <li routerLink='seasonInfo' (click)='showMenu()'>Season Info</li>
        <li routerLink='about' (click)='showMenu()'>About</li>
    </ul>
</div>
