
<div [ngSwitch]="loadingState">
    <div *ngSwitchCase='"loading"'>
        <app-loading></app-loading>
    </div>

    <div *ngSwitchCase='"empty-data"'>No data available</div>
    
    <div *ngSwitchCase='"done"' class="card detail-card" 
        style=" --primaryColor: #{{ player['primary_color'] }}; 
                --secondaryColor: #{{ player['secondary_color'] }};
                --tertiaryColor:  #{{ player['tertiary_color'] }};">
    
        <div class="player-banner">
            <img class="picture" src='{{ player["photo_url"] }}'>
            <img class="logo" src='{{ player["wikipedia_logo_url"] }}'>
        </div>

        <div class="stats stats-box">
            <div class="player-info">
                <p class="title">Name</p> 
                <span>{{ player['first_name'] }} {{ player['last_name'] }}</span>
            </div>
            <div class="player-info">
                <p class="title">Team</p> 
                <span>{{ player['team_name'] }}</span>
            </div>
        </div>

        <div class="stats stats-box">
            <div class="stat-info">
                <p class="title">Age</p> 
                <span>{{ player['birth_date'] | age }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Height</p> 
                <span>{{ player['height'] | heightInMeters }}m ({{player['height']}} in)</span>
            </div>
            <div class="stat-info">
                <p class="title">Weight</p> 
                <span>{{ player['weight'] | weightInKg }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Position</p> 
                <span>{{ player['position'] | position }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Games Played</p> 
                <span>{{ player['games'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Starting Lineup in</p> 
                <span>{{ player['started'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Minutes per Game</p> 
                <span>{{ player['minutes'] | ratio: player['games'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Years in the NBA</p> 
                <span>{{ player['experience'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Assists</p> 
                <span>{{ player['assists'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Assists Percentage</p> 
                <span>{{ player['assists_percentage'] }} %</span>
            </div>
            <div class="stat-info">
                <p class="title">Blocked Shots</p> 
                <span>{{ player['blocked_shots'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Blocked Shots Percentage</p> 
                <span>{{ player['blocks_percentage'] }} %</span>
            </div>
            <div class="stat-info">
                <p class="title">Defensive Rebounds</p> 
                <span>{{ player['defensive_rebounds'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Defensive Rebounds Percentage</p> 
                <span>{{ player['defensive_rebounds_percentage'] }} %</span>
            </div>
            <div class="stat-info">
                <p class="title">Offensive Rebounds</p> 
                <span>{{ player['offensive_rebounds'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Offensive Rebounds Percentage</p> 
                <span>{{ player['offensive_rebounds_percentage'] }} %</span>
            </div>
            <div class="stat-info">
                <p class="title">Two Pointers Attempted</p> 
                <span>{{ player['two_pointers_attempted'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Two Pointers Made</p> 
                <span>{{ player['two_pointers_made'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Three Pointers Attempted</p> 
                <span>{{ player['three_pointers_attempted'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Three Pointers Made</p> 
                <span>{{ player['three_pointers_made'] }}</span>
            </div>

        </div>
    </div>
</div>
