.page-default{
    display: grid;
    grid-template-columns: 5rem 1fr;
    height: 100vh;
}

app-navigation-bar{
    background-color: var(--primary);
    position: fixed;
    left: 0px;
    top:0px;
    height: 100vh;
    width: 5rem;
    grid-column-start: 1;
}

app-content{
    background-color: var(--lightGrey);
    background-size: 100% 100%;
    height: 100%;
    width:100%;
    grid-column-start: 2;
}