<app-search-bar [placeholderText]="'Search for a team..'" 
    (requestSearch)="newSearch($event)">
</app-search-bar>
<div [ngSwitch]="loadingState">
    <div *ngSwitchCase='"loading"'>
        <app-loading></app-loading>
    </div>

    <div *ngSwitchCase='"done"' class="list">
        <div class="item card" *ngFor="let team of teams" [routerLink]="['/teams',team['team_id']]">
            <img src='{{ team["wikipedia_logo_url"] }}'>
            <p>{{ team['city'] }} {{ team['name'] }}</p>
        </div>
    </div>
</div>
