.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item:hover{
    cursor: pointer;
}

.player-list-card{
    background-color: var(--white);
    display: flex;
    align-items: center;
    width: 20%;
    height: 6rem;
}

.name{
    font-weight: bold;
}

.field{
    margin-right: 1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

img {
    max-width: 5rem;
    max-height: 6.9rem;
}