<app-search-bar [placeholderText]="'Search for a player..'"></app-search-bar>
<div class="list">
    <div class="item card player-list-card" *ngFor="let player of playersDisplayed" [routerLink]="[player['player_id']]">
        <img class="field" src='{{ player["photo_url"] }}'>
        <div>
            <p class="name">{{ player['first_name'] }} {{ player['last_name'] }}</p>
            <p>{{ player['city'] }}  {{ player['name'] }}</p>
        </div>
    </div>
</div>
<div style="text-align:center">
    <img class="icon" src="../../../assets/icons/leftarrow.svg" alt="Go back" (click)="previousPage()">
    <img class="icon" src="../../../assets/icons/rightarrow.svg" alt="Go next" (click)="nextPage()">
</div>
