.icon{
    max-width: 2rem;
    max-height: 2rem;
}

.icon:hover{
    border-radius: 2rem;
    border: 1px solid black;
    cursor: pointer;
}

.right{
    margin-right: 1.5rem;
}

.left{
    margin-left: 1.5rem;
}