.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    margin: 1rem;
    width: 40%;
    height: 3rem;
}

.item:hover{
    cursor: pointer;
}

img {
    width: 2rem;
    height: 2rem;
}