<div [ngSwitch]="loadingState">
    <div *ngSwitchCase='"loading"'>
        <app-loading></app-loading>
    </div>
    <div *ngSwitchCase='"done"'>
        <app-bar-chart 
            [dataInput]='wins' 
            [labelsInput]="['Wins']" 
            [colorsInput]='primary_color' >
        </app-bar-chart>

        <app-bar-chart 
            [dataInput]='twoPointersPercentage' 
            [labelsInput]="['Two Pointers Percentage']" 
            [colorsInput]='primary_color' >
        </app-bar-chart>

        <app-bar-chart 
            [dataInput]='threePointersPercentage' 
            [labelsInput]="['Three Pointers Percentage']" 
            [colorsInput]='primary_color' >
        </app-bar-chart>
    </div>
