@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

html,
body {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

:root{
    --primary: #1E4290;
    --primaryLight: #6a7794;
    --secondary: #EF233C;
    --white: #EDF2F5;
    --lightGrey: #98ABB9;
    --darkGrey: #4C5E6A;
}