.logo{
    width: 80%;
    height: 80%;
}

.banner{
    background-image: linear-gradient(var(--primaryColor), var(--secondaryColor));
    width: 100%;
    height: 15rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-weight: bold;
    font-size: 20px;
}

.team-detail-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

.stat-info{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    text-align: center;
    width: 25%;
    padding-bottom: 1rem;
}