<div [ngSwitch]="loadingState">
    <div *ngSwitchCase='"loading"'>
        <app-loading></app-loading>
    </div>

    <div *ngSwitchCase='"done"' class="card detail-card" 
        style=" --primaryColor: #{{ team['primary_color'] }}; 
                --secondaryColor: #{{ team['secondary_color'] }};
                --tertiaryColor:  #{{ team['tertiary_color'] }};">

        <div class="team-banner">
            <img class="logo" src='{{ team["wikipedia_logo_url"] }}'>
        </div>
        
        <div class="stats stats-box">
            <div class="stat-info">
                <p class="title">Conference</p> 
                <span>{{ team['conference'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Division</p> 
                <span>{{ team['division'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">Wins (W) - Losses (L)</p> 
                <span>{{ team['wins'] }} - {{ team['losses'] }}</span>
            </div>
            <div class="stat-info">
                <p class="title">W/L Ratio</p> 
                <span>{{ team['wins'] | ratio: team['losses']}}</span>
            </div>
            <div class="stat-info">
                <p class="title">Points per Game (PPG)</p> 
                <span>{{ team['points'] | ratio: team['games']}}</span>
            </div>
            <div class="stat-info">
                <p class="title">Opponent's PPG</p> 
                <span>{{ team['opponent_stat_points'] | ratio: team['games']}}</span>
            </div>
            <div class="stat-info">
                <p class="title">Rebounds per Game</p> 
                <span>{{ team['rebounds'] | ratio: team['games']}}</span>
            </div>
            <div class="stat-info">
                <p class="title">Season</p> 
                <span>{{ team['season_type'] | seasonType }}</span>
            </div>
        </div>
        <p class="title">Lineup</p>
        <div class="list">
            <div class="item card player-list-card" *ngFor="let player of players" [routerLink]="['/players',player['player_id']]">
                <img class="field" src='{{ player["photo_url"] }}'>
                <div>
                    <p class="name">{{ player['first_name'] }} {{ player['last_name'] }}</p>
                    <p>{{ player['position'] | position }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
